.panel-monitor{
/*    background-color: black;
    color: white;*/
    position: relative;
}
.panel-sidebar{
    display: block;
    float: left;
    height: 100%;
    background-color: rgb(159, 243, 75);
    position: absolute;
    padding: 5px;
    width: 40px;
    text-align: center;
}
.panel-left{
    padding-left: 100px;
}
.pmon-ip{
    display: block;
    font-size: 3em;
}
.pmon-hostname{
    display: block;
    font-size: 2em;
}
.panel .pmon-block{
    font-size: 5em;
}
.panel .pmon-block + .pmon-block{
/*     margin-left: 90px; */
}
.stat-uptimepc::after{
    content: '%';
    opacity: 0.7;
    font-size: 50%;
    padding-left: 8px;
    display: inline-block;
}
.stat-delay::after{
    content: 'ms';
    opacity: 0.7;
    font-size: 50%;
    padding-left: 8px;
    display: inline-block;
}
